<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlEFtUOJOMxUFWhNxcAS-XqW_Y8zQ-1LM</string>
	<key>GCM_SENDER_ID</key>
	<string>943669126284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.circuitslingers.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rjpolicehackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>rjpolicehackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943669126284:ios:eb45ffb8c0d819757e87a9</string>
</dict>
</plist>